.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs__item {
    margin-right: 8px;
}

.breadcrumbs__item:before {
    content: '/';
    display: inline-block;
    margin-right: 8px;
    color: #ccc;
}

.breadcrumbs__item:first-child:before {
    content: none;
}

.breadcrumbs__item--active {
    font-weight: bold;
}

.breadcrumbs__item a {
    color: inherit;
    text-decoration: none;
}
